#filter{
    background-color: #ebedf3;
    padding-top: 30px;
    padding-bottom: 30px;
    label{
        color: #8d94ad;
    }
    .form-filter-top, .form-filter-middle{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        transition: $transition;
        
    }
    .form-filter-middle{
        display: none;
        &.active{
            display: flex;
        }
    }
    .form-input{
        height: 46px;
        label{
            margin-right: 0;
        }
        .selectize-control{
            min-width: 85px;
            width: 85px;
        }
    }
    .selectize-control{
        width: 230px;
    }
    .form-group{
        margin-right: 12px;
    }
    .form-multi-input{
        display: flex;
        flex-direction: row;
        .form-group{
            margin-right: 0;
            margin-bottom: 0;
            &:nth-child(1){
                input,.selectize-input{
                    border-right: 0;
                    border-radius: 7px 0 0 7px;
                }
                
            }
            &:nth-child(2){
                input, .selectize-input{
                  
                    border-radius: 0px 7px 7px 0px;
                }   
            }
        }
        input, .selectize-control{
           width: 115px;
            min-width: 115px;
        }
        input{
            margin-bottom: 7px;
        }
    }
    .form-radio-group{
        min-width: 230px;
        label,span{
            width: 100%;
        }
        span{
            white-space: nowrap;
            text-align: center;
        }
    }
    .selectize-control .selectize-input:after{
        // display: none;

        content: '';
        position: absolute;
        background: url('../images/down.svg');
        background-repeat: no-repeat;
        width: 13px;
        height: 9px;
        padding: 0px;
        background-position: center;
        background-size: contain;
        top: 15px;
        right: 12px;
        border: none;
        
    }
    .selectize-control .selectize-input.dropdown-active:after{
        top: 18px;
        transform: rotate(180deg);
    }
    .selectize-control .has-items.dropdown-active:after{
        top: 15px;
    }
    .filter-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        div, a, span, input, button{
            font-size: 15px;
        }
        input{
            height: initial;
            background: transparent;
            border-radius: 0;
            border: none;
            color: #333;
            margin-right: 20px;
        }
        a{
            color: $purple;
        }
    }
    .filter-btn{
        color: #333;
        margin-right: 25px;
        &.active, &:hover{
            color: $purple;
        }
    }
}

