form{
    .error-text{
        font-size: 14px;
        color: red;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .form-group{
        display: flex;
        flex-direction: column;
    }
    label{
        font-size: 15px;
        margin-bottom: 2px;
    }
    input, textarea{
        border: 1px solid #dfe3e9;
        border-radius: 7px;
        padding: 0 10px;
        color: #333;
        font-size: 14px;
        background-color: #fff;
        height: 40px;
        &::placeholder{
            color: #8d94ad;
            font-size: 14px;
        }
    }
    .selectize-input{
        padding: 0;
        border: 1px solid #dfe3e9;
        border-radius: 7px;
        height: 40px;
        &.focus{
            box-shadow: none;
            border-color: transparent;
        }
        .item{
            font-size: 15px;
            height: 100%;
            line-height: 40px;
            padding: 0 10px;
        }
        input{
            padding: 0 10px !important;
            width: 100% !important;
        }
    }
    .selectize-control.multi .selectize-input>div{
        background: transparent;
        line-height: 27px;
    }
  
    .form-radio-group{
        flex-direction: row;
        label{
            margin-bottom: 0;
            position: relative;
            cursor: pointer;
            &:nth-child(1){
                span{
                    border-radius: 7px 0 0px 7px;
                }
            }
            &:last-child{
                span{
                    border-radius: 0px 7px 7px 0;
                }
            }
        }
        input{
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
        input:checked~.form-checkmark{
            color: white;
            border-color: $purple;
            background-color: $purple;
        }
        .form-checkmark{
            background-color: #fff;
            border: 1px solid #dfe3e9;
            color: #333;
            font-size: 14px;
            height: 40px;
            display: inline-block;
            line-height: 39px;
            padding: 0 10px;
            
        }
    }
    .form-checkbox-group{
        flex-direction: row;
        flex-wrap: wrap;
        p{
            width: 100%;
            margin-bottom: 15px;
        }
        label{
            margin-bottom: 15px;
            position: relative;
            cursor: pointer;
            margin-right: 12px;
        }
        input{
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
        input:checked~.form-checkmark{
            color: $purple;
            border-color: $purple;
            background-color: rgba(119, 80, 161, 0.05);
        }
        .form-checkmark{
            background-color: #fff;
            border: 1px solid #dfe3e9;
            color: #333;
            font-size: 14px;
            height: 40px;
            display: inline-block;
            line-height: 39px;
            padding: 0 10px;
            border-radius: 7px;
        }
    }
}

