.section-title{
    background-color: #f1f3f7;
    border-top: 1px solid #eaebf2;
    border-bottom: 1px solid #eaebf2;
    padding: 20px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title{
        font-size: 16px;
        color: #212c3a;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .button{
        color: #212c3a;
        font-size: 16px;
        background: transparent;
        border: none;
        padding: 0;
        &:hover{
            color: $purple;
            text-decoration: none;
        }
    }
}
.product-section{
    padding: 0;
    .container{
        overflow: hidden;
    }
    .section-title .container{
        overflow: visible;
    }
}

.card-block{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    margin-right: -18px;
    .product-card{
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}