.modal-box{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    .modal-close{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    .modal-container{
        background: white;
        position: relative;
        z-index: 1;
        border-radius: 15px;
        min-width: 450px;
    }
    .modal-title{
        font-size: 21px;
        background: $gradient;
        font-weight: 600;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
 
    }
    .modal-body-title{
        font-size: 18px;
        text-align: center;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 30px;
        color: #959597;
        font-weight: 500;
    }
    .modal-close-btn{
        width: 30px;
        transform: rotate(45deg);
        background: transparent;
    }
    .modal-text{
        font-size: 16px;
        line-height: 18px;
        max-width: 500px;
        margin-bottom: 8px;
        color: $black;
        span{
            display: inline-block;
            font-weight: 600;
        }
    }
    form{
        margin-top: 20px;
    }
    label{
        font-size: 14px;
    }
}


#premium-modal-box, #phone-login-modal-box{
    display: none;
}

#login-modal-box{
    display: none;
    .modal-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 20px;
        
        .button:last-child{
            background: white;
            color: $purple;
            margin-left: 15px;
        }
    }
    .button{
        padding: 9px 16px;
    }
}
#sms-code-modal-box{
    display: none;
    .modal-text{
        text-align: center;
        margin-top: -11px;
        margin-bottom: 25px;
        color: #959597;
    }
}

#business-login-modal-box{
    min-width: 500px;
    display: none;
    .forgot-pass{
        background: transparent;
        text-align: right;
        font-size: 14px;
        margin-top: 5px;
    }
}

#business-forgot-modal-box{
    display: none;
    .modal-text{
        max-width: 468px;
        text-align: center;
        margin-top: -11px;
        margin-bottom: 25px;
        color: #959597;
    }
}

#delete-account-modal-box{
    display: none;
    .modal-box .modal-body-title{
        max-width: 500px;
        font-weight: 400;
        margin-bottom: 45px;
        color: $black;
    }
    .button{
        max-width: 187px;
        margin: auto;
        width: 100%;
    
    }
}

#premium-modal-box-2, #ireli-cek-modal-box, #remove-modal-box, #edit-modal-box{
    display: none;
    .modal-service{
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .modal-body-desc{
        font-size: 15px;
        color: #8d94ad;
        max-width: 465px;
        margin: auto;
        text-align: center;
    }
    .modal-body-title{
        width: 100%;
        color: $black;
        font-size: 23px;
        font-weight: 600;
        display: flex;
        align-items:center;
        justify-content: center;
        img{
            width: 30px;
            margin-right: 7px;
        }
    }
    .form-group-radio{
        display: flex;
        flex-direction: column;
        label{
            width: 50%;
            display: inline-block;
            margin-bottom: 10px;
        }
    }
    .modal-btns{
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
    }
    .button{
        width: 130px;
    }
}

#ireli-cek-modal-box{
    .modal-body-title{
        img{
            margin-top: -10px;
        }
    }
}

.warning-popup{
    display: none;
}
.popup{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    .popup-content{
        background: white;
        position: relative;
        z-index: 1;
        border-radius: 15px;
        min-width: 450px;
        padding: 30px;
    }
    .popup-btn{
        font-size: 15px;
        color: $purple;
        border:none;
        background: transparent;
        font-weight: 500;
    }
    .popup-close{
        font-size: 15px;
        color: #8d94ad;
        border:none;
        margin-right: 25px;
        background: transparent;
        font-weight: 500;
    }
    .btn-block{
        text-align: center;
        padding-top: 20px;
        max-width: 200px;
        display: flex;
        margin: auto;
        justify-content: space-between;
    }
    .popup-title{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
        img{
            width: 30px;
            margin-right: 7px;
        }
        span{
            font-size: 20px;
            font-weight: 500;
        }
    }
    .popup-desc{
        text-align: center;
        color: #8d94ad;
        margin: auto;
        font-size:15px;
        padding: 10px 0;
        max-width: 300px;
    }
}

#wallet-modal-box{
    display: none;
    .modal-body-title{
        width: 100%;
        color: $black;
        font-size: 23px;
        font-weight: 500;
        display: flex;
        align-items:center;
        justify-content: center;
        padding: 0;
        margin-bottom: 30px;
        img{
            width: 45px;
            margin-right: 4px;
        }
    }
    .modal-btns{
        text-align: center;

    }
    .button{
        width: 150px;
    }
}

#remove-modal-box, #edit-modal-box{
    .forgot-btn{
        background: transparent;
        font-size: 15px;
        color: $blue;
        width: 100%;
        border: none;
        text-align: right;
    }
    .form-group{
        margin-top: 20px;
    }
}

#receipt-modal-box{
    display: none;
    .product-card{
        display: flex;
        max-width: 100%;
        align-items: start;
        box-shadow: none;
    }
    .card-img img{
        height: 100px;
    }
    .card-body{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 15px;
        &>div{
            margin-right: 10px;
        }
    }
    .card-header{
        border-radius: 9px;
    }
    .card-price{
        width: 100%;
        margin-bottom: 8px;
    }
    .receipt-info{
        padding-top: 10px;
        margin-top: 20px;
        border-top: 1px solid #dee2e669;
        &>div{
            display: flex;
            margin-bottom: 10px;
            
            
        }
    }
    .modal-box .modal-container{
        max-width: 500px;
    }
    .receipt-title{
        width: 40%;
    }
    .receipt-subtitle{
        font-weight: 500;
        font-size: 17px;
    }
}