#new-product{
    padding-top: 0;
    .form-container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        .form-group:not(:nth-child(3n+0)){
                margin-right: 20px;
            
        }
    }
    .form-group{
        width: 31%;
        margin-bottom: 20px;
        &:not(:nth-child(3n+0)){
            margin-right: 20px;
        }
    }
    label{
        font-size: 14px;
    }
    .nice-select:after{
        height: 8px;
        width: 8px;
    }
    .nice-select .list{
        width: 100%;
        max-height: 300px;
        overflow: auto;
    }
    input{
        padding-left: 18px;
    }

    .checkmark{
        height: 15px;
        width: 15px;
        border: 1px solid #979797;
        border-radius: 3px;
        display: inline-block;
        margin-right: 0px;
        cursor: pointer;
        position: relative;
        margin-right: 5px;
        &:before{
            content: "";
            position: absolute;
            opacity: 0;
            left: 3px;
            top: 1px;
            width: 7px;
            height: 9px;
            border: solid $purple;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    input:checked~.checkmark:before {
        opacity: 1;
    }
    .form-group-checkbox{
        margin-top: 20px;
        label{
            font-size: 16px;
            width: 33%;
            margin-bottom: 10px;
            display: inline-flex;
            align-items: center;
        }
        input{
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
        p{
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
    .form-group-textarea{
        margin-top: 20px;
        label{
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        textarea{
            width: 100%;
            resize: none;
            min-height: 150px;
        }
    }
    .form-group-price{
        width: 70%;
        input{
            max-width: 300px;
            width: 100%;
            margin-right: 15px;
        }
    }

   
   

    .form-group-contact{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        .form-group:not(:nth-child(3n+1)){
            margin-right: 20px;
        
        }
        p{
            width: 100%;
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
    .form-group-images{
        margin-top: 30px;
        .product-images{
            display: flex;
            flex-wrap: wrap;
        }
        p{
            width: 100%;
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .product-img-card{
            width: 150px;
            height: 150px;
            margin-right: 15px;
            margin-bottom: 40px;
        }
        .product-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .remove-img{
            width: 15px;
            cursor: pointer;
            margin-left: auto;
        }
        .rotate-left{
            width: 15px;
            margin-right: 5px;
            cursor: pointer;
        }
        .rotate-right{
            width: 15px;
            transform: scaleX(-1);
            cursor: pointer;
        }
        .product-img-actions{
            display: flex;
            width: 100%;
            margin-top: 3px;
        }
        .form-group-image label{
            position: relative;
            width: 130px;
            height: 130px;
            border: 1px dashed $purple;
            overflow: hidden;
            border-radius: 8px;
            input{
                position: absolute;
                opacity: 0;
                visibility: hidden;
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            img{
                width: 100%;
                cursor: pointer;
            }
            margin-right: 15px;
        }
    }
    .multiple-image-label{
        background: #E7DDFA;
        position: relative;
        img{
            width: 65px !important;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }
    }
    .form-group-btn{
        max-width: 300px;
        width: 100%;
        .button{
            width: 100%;
        }
    }
}


.form-group-radio{
    display: inline;
    .radio-checkmark{
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        border-radius: 50%;
        border: 1px solid #979797;
        margin-right: 0px;
        cursor: pointer;
        margin-right: 7px;
        &:before{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            left: 2px;
            top: 2px;
            border-radius: 50%;
            background: $purple;
            opacity: 0;
        }
    }
    input:checked~.radio-checkmark:before{
        opacity: 1;
    }
    input[type="radio"]{
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
    label{
        margin-right: 10px;
        display: inline-flex;
        align-items:center;
    }
}