@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F6F7FA;
}

a, button, i {
  transition: all 0.4s linear;
}

a, a:hover {
  text-decoration: none !important;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
}

button {
  border: none;
}

button:focus {
  outline: none !important;
}

section {
  padding: 90px 0;
}
section p {
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

p, span, strong, h1, h2, h3, h4, h5, h6, input, div {
  font-family: "Roboto", sans-serif;
}

.single-page-banner {
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  max-width: 310px;
  max-width: 420px;
  width: 100%;
  height: 100%;
}
.single-page-banner img {
  width: 100%;
  height: 100%;
}

.left-banner {
  z-index: 65000;
  position: absolute;
  width: calc((100% - 1010px) / 2);
  left: 0;
  top: 149px;
  height: 100vh;
  cursor: pointer;
}
.left-banner img, .left-banner iframe {
  max-width: 300px;
  width: 100%;
  max-height: 700px;
  height: 100%;
  position: absolute;
  right: 0;
}

.right-banner {
  z-index: 65000;
  position: absolute;
  width: calc((100% - 1010px) / 2);
  left: auto;
  top: 149px;
  height: 100vh;
  cursor: pointer;
  right: 0px;
}
.right-banner img, .right-banner iframe {
  max-width: 300px;
  width: 100%;
  max-height: 700px;
  height: 100%;
  position: absolute;
  left: 0;
}

/* 
::-webkit-scrollbar {
    width: 12px;
}

 ::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 0px;
    background: $black;
}

 ::-webkit-scrollbar-thumb {
    background: $orange;
    border-radius: 8px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: $orange;
}
*/
.button {
  border-radius: 10px;
  padding: 7px 10px;
  background: #7750a1;
  border: 1px solid #7750a1;
  color: white;
}

.ireli-cek, .premium-btn {
  cursor: pointer;
}

header {
  background-color: #f6f7fa;
}
header .header-top {
  padding: 20px 0;
}
header .header-top .container {
  display: flex;
  justify-content: space-between;
}
header .header-top img {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
header .header-top a {
  color: #8d94ad;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}
header .header-top a:not(:last-child) {
  margin-right: 15px;
}
header .header-menu {
  background: linear-gradient(to bottom, #7f388f, #7750a1, #6f64b0, #6976ba, #6987c1);
  padding: 20px 0;
}
header .header-menu .header-menu-left {
  display: flex;
  align-items: center;
}
header .header-menu .logo {
  color: white;
  font-weight: 800;
  margin-right: 35px;
  font-size: 30px;
}
header .header-menu img {
  width: 22px;
  height: 22px;
  margin-right: 3px;
}
header .header-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 380px;
}
header .header-menu ul a {
  font-size: 15px;
  color: white;
}
header .header-menu .button {
  background: white;
  border-radius: 8px;
  padding: 7px 17px;
  color: #7750a1;
  display: inline-flex;
  align-items: center;
}
header .header-top-right {
  display: flex;
  position: relative;
}


header .home-login-btn ,
header .home-login-btn2 {
  position: relative;
}
header .home-login-btn:hover .header-dropdown-menu,
header .home-login-btn2:hover .header-dropdown-menu {
  opacity: 1;
  visibility: visible;
}



header .header-dropdown-menu {
  position: absolute;
  background: white;
  border-radius: 10px;
  margin-bottom: 0;
  list-style: none;
  right: 0;
  min-width: 150px;
  padding: 15px;
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
}
header .header-dropdown-menu li:first-child {
  margin-bottom: 8px;
}
header a:hover {
  color: #7750a1;
  text-decoration: none;
}

.modal-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.modal-box .modal-close {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.modal-box .modal-container {
  background: white;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  min-width: 450px;
}
.modal-box .modal-title {
  font-size: 21px;
  background: linear-gradient(to bottom, #7f388f, #7750a1, #6f64b0, #6976ba, #6987c1);
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.modal-box .modal-body-title {
  font-size: 18px;
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  color: #959597;
  font-weight: 500;
}
.modal-box .modal-close-btn {
  width: 30px;
  transform: rotate(45deg);
  background: transparent;
}
.modal-box .modal-text {
  font-size: 16px;
  line-height: 18px;
  max-width: 500px;
  margin-bottom: 8px;
  color: #333;
}
.modal-box .modal-text span {
  display: inline-block;
  font-weight: 600;
}
.modal-box form {
  margin-top: 20px;
}
.modal-box label {
  font-size: 14px;
}

#premium-modal-box, #phone-login-modal-box {
  display: none;
}

#login-modal-box {
  display: none;
}
#login-modal-box .modal-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
#login-modal-box .modal-btns .button:last-child {
  background: white;
  color: #7750a1;
  margin-left: 15px;
}
#login-modal-box .button {
  padding: 9px 16px;
}

#sms-code-modal-box {
  display: none;
}
#sms-code-modal-box .modal-text {
  text-align: center;
  margin-top: -11px;
  margin-bottom: 25px;
  color: #959597;
}

#business-login-modal-box {
  min-width: 500px;
  display: none;
}
#business-login-modal-box .forgot-pass {
  background: transparent;
  text-align: right;
  font-size: 14px;
  margin-top: 5px;
}

#business-forgot-modal-box {
  display: none;
}
#business-forgot-modal-box .modal-text {
  max-width: 468px;
  text-align: center;
  margin-top: -11px;
  margin-bottom: 25px;
  color: #959597;
}

#delete-account-modal-box {
  display: none;
}
#delete-account-modal-box .modal-box .modal-body-title {
  max-width: 500px;
  font-weight: 400;
  margin-bottom: 45px;
  color: #333;
}
#delete-account-modal-box .button {
  max-width: 187px;
  margin: auto;
  width: 100%;
}

#premium-modal-box-2, #ireli-cek-modal-box, #remove-modal-box, #edit-modal-box {
  display: none;
}
#premium-modal-box-2 .modal-service, #ireli-cek-modal-box .modal-service, #remove-modal-box .modal-service, #edit-modal-box .modal-service {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}
#premium-modal-box-2 .modal-body-desc, #ireli-cek-modal-box .modal-body-desc, #remove-modal-box .modal-body-desc, #edit-modal-box .modal-body-desc {
  font-size: 15px;
  color: #8d94ad;
  max-width: 465px;
  margin: auto;
  text-align: center;
}
#premium-modal-box-2 .modal-body-title, #ireli-cek-modal-box .modal-body-title, #remove-modal-box .modal-body-title, #edit-modal-box .modal-body-title {
  width: 100%;
  color: #333;
  font-size: 23px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
#premium-modal-box-2 .modal-body-title img, #ireli-cek-modal-box .modal-body-title img, #remove-modal-box .modal-body-title img, #edit-modal-box .modal-body-title img {
  width: 30px;
  margin-right: 7px;
}
#premium-modal-box-2 .form-group-radio, #ireli-cek-modal-box .form-group-radio, #remove-modal-box .form-group-radio, #edit-modal-box .form-group-radio {
  display: flex;
  flex-direction: column;
}
#premium-modal-box-2 .form-group-radio label, #ireli-cek-modal-box .form-group-radio label, #remove-modal-box .form-group-radio label, #edit-modal-box .form-group-radio label {
  width: 50%;
  display: inline-block;
  margin-bottom: 10px;
}
#premium-modal-box-2 .modal-btns, #ireli-cek-modal-box .modal-btns, #remove-modal-box .modal-btns, #edit-modal-box .modal-btns {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
#premium-modal-box-2 .button, #ireli-cek-modal-box .button, #remove-modal-box .button, #edit-modal-box .button {
  width: 130px;
}

#ireli-cek-modal-box .modal-body-title img {
  margin-top: -10px;
}

.warning-popup {
  display: none;
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.popup .popup-content {
  background: white;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  min-width: 450px;
  padding: 30px;
}
.popup .popup-btn {
  font-size: 15px;
  color: #7750a1;
  border: none;
  background: transparent;
  font-weight: 500;
}
.popup .popup-close {
  font-size: 15px;
  color: #8d94ad;
  border: none;
  margin-right: 25px;
  background: transparent;
  font-weight: 500;
}
.popup .btn-block {
  text-align: center;
  padding-top: 20px;
  max-width: 200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.popup .popup-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.popup .popup-title img {
  width: 30px;
  margin-right: 7px;
}
.popup .popup-title span {
  font-size: 20px;
  font-weight: 500;
}
.popup .popup-desc {
  text-align: center;
  color: #8d94ad;
  margin: auto;
  font-size: 15px;
  padding: 10px 0;
  max-width: 300px;
}

#wallet-modal-box {
  display: none;
}
#wallet-modal-box .modal-body-title {
  width: 100%;
  color: #333;
  font-size: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
}
#wallet-modal-box .modal-body-title img {
  width: 45px;
  margin-right: 4px;
}
#wallet-modal-box .modal-btns {
  text-align: center;
}
#wallet-modal-box .button {
  width: 150px;
}

#remove-modal-box .forgot-btn, #edit-modal-box .forgot-btn {
  background: transparent;
  font-size: 15px;
  color: #6987c1;
  width: 100%;
  border: none;
  text-align: right;
}
#remove-modal-box .form-group, #edit-modal-box .form-group {
  margin-top: 20px;
}

#receipt-modal-box {
  display: none;
}
#receipt-modal-box .product-card {
  display: flex;
  max-width: 100%;
  align-items: start;
  box-shadow: none;
}
#receipt-modal-box .card-img img {
  height: 100px;
}
#receipt-modal-box .card-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 15px;
}
#receipt-modal-box .card-body > div {
  margin-right: 10px;
}
#receipt-modal-box .card-header {
  border-radius: 9px;
}
#receipt-modal-box .card-price {
  width: 100%;
  margin-bottom: 8px;
}
#receipt-modal-box .receipt-info {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid rgba(222, 226, 230, 0.4117647059);
}
#receipt-modal-box .receipt-info > div {
  display: flex;
  margin-bottom: 10px;
}
#receipt-modal-box .modal-box .modal-container {
  max-width: 500px;
}
#receipt-modal-box .receipt-title {
  width: 40%;
}
#receipt-modal-box .receipt-subtitle {
  font-weight: 500;
  font-size: 17px;
}

.section-title {
  background-color: #f1f3f7;
  border-top: 1px solid #eaebf2;
  border-bottom: 1px solid #eaebf2;
  padding: 20px 0;
}
.section-title .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title .title {
  font-size: 16px;
  color: #212c3a;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.section-title .button {
  color: #212c3a;
  font-size: 16px;
  background: transparent;
  border: none;
  padding: 0;
}
.section-title .button:hover {
  color: #7750a1;
  text-decoration: none;
}

.product-section {
  padding: 0;
}
.product-section .container {
  overflow: hidden;
}
.product-section .section-title .container {
  overflow: visible;
}

.card-block {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  margin-right: -18px;
}
.card-block .product-card {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}

.breadcrumbs ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.breadcrumbs li {
  color: rgb(133, 140, 147);
}
.breadcrumbs a {
  color: #333;
  margin-right: 5px;
}
.breadcrumbs a:hover {
  color: #7750a1;
}

footer {
  background-color: #f1f3f7;
}
footer .container {
  display: flex;
}
footer .copyright {
  background-image: linear-gradient(to bottom, #7f388f, #7750a1, #6f64b0, #6976ba, #6987c1);
  padding: 20px 0;
}
footer .copyright p {
  color: white;
  margin-bottom: 0;
  font-size: 13px;
  max-width: 400px;
}
footer .copyright .container {
  justify-content: space-between;
  align-items: center;
}
footer .section-advert {
  display: block;
  padding: 20px 0;
}
footer .section-advert .container {
  justify-content: space-between;
}
footer .section-advert p, footer .section-advert a {
  color: #212c3a;
  font-size: 15px;
  margin-bottom: 0;
}
footer .section-advert img {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
footer .section-advert a:nth-child(2) {
  margin-right: 25px;
}
footer .section-advert a:nth-child(3) {
  margin-right: 10px;
}
footer .footer-links {
  padding: 20px 0;
  border-top: 2px solid #eaebf2;
}
footer .footer-links .container {
  flex-wrap: wrap;
}
footer .footer-links a {
  color: #8d94ad;
  width: 120px;
  padding: 6px 0;
  font-size: 13px;
}
footer a:hover {
  text-decoration: none;
  color: #7750a1;
}

.product-card {
  max-width: 228px;
  width: 100%;
  border-radius: 9px;
  box-shadow: 0 17px 34px 0 rgba(44, 39, 56, 0.2), 0 8px 17px 0 rgba(44, 39, 56, 0.01);
  border: none;
  position: relative;
}
.product-card .card-header {
  padding: 0;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  border: none;
  position: relative;
}
.product-card .card-img img {
  height: 170px;
  width: 100%;
  transition: all 0.4s linear;
}
.product-card .wish-list-icon {
  position: absolute;
  top: 7px;
  right: 7px;
}
.product-card .wish-list-icon i {
  font-size: 24px;
}
.product-card .wish-list-icon .fal {
  color: white;
}
.product-card .wish-list-icon .fas {
  color: red;
}
.product-card .premium-icon {
  position: absolute;
  top: auto;
  bottom: 7px;
  right: 7px;
}
.product-card .premium-icon img {
  width: 25px;
}
.product-card .card-body {
  padding: 7px;
  border: none;
}
.product-card .card-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #212c3a;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}
.product-card .card-date {
  color: #8d94ad;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-card .card-date span {
  line-height: 17px;
  color: #8d94ad;
  font-size: 14px;
}
.product-card .card-attributes {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-card .card-attributes span {
  color: #212c3a;
  font-size: 15px;
}
.product-card .card-price {
  color: #212c3a;
  font-size: 18px;
  font-weight: 700;
}
.product-card:hover .card-img img {
  transform: scale(1.06);
}
.product-card .card-label {
  font-size: 11px;
  line-height: 14px;
  color: white;
  background: #6987c1;
  border-radius: 5px;
  padding: 2px 8px;
  display: inline-block;
  position: absolute;
  bottom: 7px;
  left: 7px;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.premium-card {
  max-width: 228px;
  width: 100%;
  border-radius: 9px;
  box-shadow: 0 17px 34px 0 rgba(44, 39, 56, 0.2), 0 8px 17px 0 rgba(44, 39, 56, 0.01);
  border: none;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 279px;
}
.premium-card img {
  width: 90px;
}
.premium-card p {
  font-weight: 600;
  width: 100px;
  text-align: center;
  line-height: 19px;
  padding-top: 20px;
  padding-bottom: 7px;
  color: #212c3a;
  margin-bottom: 0;
}
.premium-card span {
  color: #8d94ad;
  font-size: 14px;
  margin-bottom: 20px;
}
.premium-card .button {
  width: 100%;
}

form .error-text {
  font-size: 14px;
  color: red;
  margin-top: 5px;
  margin-bottom: 0;
}
form .form-group {
  display: flex;
  flex-direction: column;
}
form label {
  font-size: 15px;
  margin-bottom: 2px;
}
form input, form textarea {
  border: 1px solid #dfe3e9;
  border-radius: 7px;
  padding: 0 10px;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  height: 40px;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: #8d94ad;
  font-size: 14px;
}
form input::placeholder, form textarea::placeholder {
  color: #8d94ad;
  font-size: 14px;
}
form .selectize-input {
  padding: 0;
  border: 1px solid #dfe3e9;
  border-radius: 7px;
  height: 40px;
}
form .selectize-input.focus {
  box-shadow: none;
  border-color: transparent;
}
form .selectize-input .item {
  font-size: 15px;
  height: 100%;
  line-height: 40px;
  padding: 0 10px;
}
form .selectize-input input {
  padding: 0 10px !important;
  width: 100% !important;
}
form .selectize-control.multi .selectize-input > div {
  background: transparent;
  line-height: 27px;
}
form .form-radio-group {
  flex-direction: row;
}
form .form-radio-group label {
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
}
form .form-radio-group label:nth-child(1) span {
  border-radius: 7px 0 0px 7px;
}
form .form-radio-group label:last-child span {
  border-radius: 0px 7px 7px 0;
}
form .form-radio-group input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
form .form-radio-group input:checked ~ .form-checkmark {
  color: white;
  border-color: #7750a1;
  background-color: #7750a1;
}
form .form-radio-group .form-checkmark {
  background-color: #fff;
  border: 1px solid #dfe3e9;
  color: #333;
  font-size: 14px;
  height: 40px;
  display: inline-block;
  line-height: 39px;
  padding: 0 10px;
}
form .form-checkbox-group {
  flex-direction: row;
  flex-wrap: wrap;
}
form .form-checkbox-group p {
  width: 100%;
  margin-bottom: 15px;
}
form .form-checkbox-group label {
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
  margin-right: 12px;
}
form .form-checkbox-group input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
form .form-checkbox-group input:checked ~ .form-checkmark {
  color: #7750a1;
  border-color: #7750a1;
  background-color: rgba(119, 80, 161, 0.05);
}
form .form-checkbox-group .form-checkmark {
  background-color: #fff;
  border: 1px solid #dfe3e9;
  color: #333;
  font-size: 14px;
  height: 40px;
  display: inline-block;
  line-height: 39px;
  padding: 0 10px;
  border-radius: 7px;
}

#filter {
  background-color: #ebedf3;
  padding-top: 30px;
  padding-bottom: 30px;
}
#filter label {
  color: #8d94ad;
}
#filter .form-filter-top, #filter .form-filter-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  transition: all 0.4s linear;
}
#filter .form-filter-middle {
  display: none;
}
#filter .form-filter-middle.active {
  display: flex;
}
#filter .form-input {
  height: 46px;
}
#filter .form-input label {
  margin-right: 0;
}
#filter .form-input .selectize-control {
  min-width: 85px;
  width: 85px;
}
#filter .selectize-control {
  width: 230px;
}
#filter .form-group {
  margin-right: 12px;
}
#filter .form-multi-input {
  display: flex;
  flex-direction: row;
}
#filter .form-multi-input .form-group {
  margin-right: 0;
  margin-bottom: 0;
}
#filter .form-multi-input .form-group:nth-child(1) input, #filter .form-multi-input .form-group:nth-child(1) .selectize-input {
  border-right: 0;
  border-radius: 7px 0 0 7px;
}
#filter .form-multi-input .form-group:nth-child(2) input, #filter .form-multi-input .form-group:nth-child(2) .selectize-input {
  border-radius: 0px 7px 7px 0px;
}
#filter .form-multi-input input, #filter .form-multi-input .selectize-control {
  width: 115px;
  min-width: 115px;
}
#filter .form-multi-input input {
  margin-bottom: 7px;
}
#filter .form-radio-group {
  min-width: 230px;
}
#filter .form-radio-group label, #filter .form-radio-group span {
  width: 100%;
}
#filter .form-radio-group span {
  white-space: nowrap;
  text-align: center;
}
#filter .selectize-control .selectize-input:after {
  content: "";
  position: absolute;
  background: url("../images/down.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 9px;
  padding: 0px;
  background-position: center;
  background-size: contain;
  top: 15px;
  right: 12px;
  border: none;
}
#filter .selectize-control .selectize-input.dropdown-active:after {
  top: 18px;
  transform: rotate(180deg);
}
#filter .selectize-control .has-items.dropdown-active:after {
  top: 15px;
}
#filter .filter-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#filter .filter-bottom div, #filter .filter-bottom a, #filter .filter-bottom span, #filter .filter-bottom input, #filter .filter-bottom button {
  font-size: 15px;
}
#filter .filter-bottom input {
  height: initial;
  background: transparent;
  border-radius: 0;
  border: none;
  color: #333;
  margin-right: 20px;
}
#filter .filter-bottom a {
  color: #7750a1;
}
#filter .filter-btn {
  color: #333;
  margin-right: 25px;
}
#filter .filter-btn.active, #filter .filter-btn:hover {
  color: #7750a1;
}

.section-title .nice-select {
  width: 145px;
  border: 1px solid #dfe3e9;
  border-radius: 7px;
  height: 40px;
}
.section-title .nice-select.open, .section-title .nice-select:focus {
  border: 1px solid #dfe3e9;
}
.section-title .nice-select .list {
  width: 100%;
}
.section-title .nice-select::after {
  width: 7px;
  height: 7px;
}

.rentacar-section {
  padding: 0;
}
.rentacar-section .card-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rentacar-section .card {
  box-shadow: 0 0 3px 2px rgba(201, 199, 199, 0.55);
  width: 48.8%;
  padding: 0;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  height: 145px;
  overflow: hidden;
  margin-bottom: 24px;
}
.rentacar-section .card:hover .card-header img {
  transform: scale(1.1);
}
.rentacar-section .card-header {
  padding: 0;
  overflow: hidden;
  width: 145px;
  height: 145px;
  border-right: 2px solid #f7f5f5;
}
.rentacar-section .card-header img {
  transition: all 0.4s linear;
  width: 100%;
}
.rentacar-section .card-body {
  width: calc(100% - 145px);
  padding: 10px;
}
.rentacar-section .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  color: #333;
}
.rentacar-section .card-description {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 50px;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}
.rentacar-section .card-text {
  font-size: 13px;
  color: #7750a1;
}
.rentacar-section .card-phone {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  margin: 7px 0;
  z-index: 20;
}
.rentacar-section .card-phone img {
  width: 14px;
  margin-right: 5px;
}
.rentacar-section .card-phone a {
  color: #9b9b9b;
  font-size: 14px;
  margin-right: 5px;
}
.rentacar-section .card-phone a:hover {
  color: #7750a1;
}

#rentacar-catalog {
  padding-top: 20px;
}
#rentacar-catalog .rentacar-catalog-info {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
}
#rentacar-catalog .rentacar-cover-photo {
  height: 320px;
}
#rentacar-catalog .rentacar-cover-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#rentacar-catalog .rentacar-catalog-bottom {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgb(87, 98, 155);
}
#rentacar-catalog .rentacar-catalog-left {
  width: 150px;
}
#rentacar-catalog .rentacar-catalog-left .button {
  width: 100%;
  display: inline-block;
  text-align: center;
  background: white;
  color: #7750a1;
  border-color: #7750a1;
}
#rentacar-catalog .rentacar-catalog-right {
  width: calc(100% - 170px);
  display: flex;
  flex-wrap: wrap;
}
#rentacar-catalog .rentacar-catalog-right > div {
  max-width: 50%;
  width: 100%;
}
#rentacar-catalog .rentacar-catalog-logo {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}
#rentacar-catalog .rentacar-catalog-logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#rentacar-catalog .rentacar-catalog-title {
  font-size: 22px;
  width: 100%;
  color: white;
}
#rentacar-catalog .rentacar-catalog-subtitle {
  display: -webkit-box;
  max-height: 50.4px;
  font-size: 15px;
  line-height: 19px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  margin-bottom: 20px;
  width: 100%;
  color: white;
}
#rentacar-catalog .rentacar-catalog-location {
  font-size: 16px;
  color: white;
}
#rentacar-catalog .rentacar-catalog-location img {
  width: 20px;
  height: 20px;
  filter: invert(1) brightness(5);
  margin-right: 5px;
}

.rentacar-catalog-phone-link {
  display: flex;
  align-items: center;
}
.rentacar-catalog-phone-link a {
  display: block;
  font-size: 16px;
  color: white;
  margin-bottom: 7px;
}
.rentacar-catalog-phone-link img {
  width: 20px;
  height: 20px;
  filter: invert(1) brightness(5);
  margin-right: 8px;
}

.rentacar-catalog-time {
  margin-top: 10px;
}
.rentacar-catalog-time img {
  width: 25px;
  height: 25px;
  filter: invert(1) brightness(5);
  margin-right: 3px;
}
.rentacar-catalog-time span {
  font-size: 16px;
  color: white;
}

#product-page {
  padding-bottom: 30px;
  padding-top: 20px;
}
#product-page .product-properties {
  display: flex;
  flex-wrap: wrap;
}
#product-page .product-properties > div {
  width: 50%;
  margin-bottom: 8px;
}
#product-page .product-properties .product-properties-name {
  color: #8d94ad;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  max-width: 130px;
  width: 100%;
  display: inline-block;
}
#product-page .product-properties .product-properties-value {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #333;
  font-weight: 500;
}
#product-page .product-properties a.product-properties-value:hover {
  color: #7750a1;
}
#product-page .product-left {
  max-width: 640px;
  overflow: hidden;
  margin-right: 20px;
}
#product-page .product-left .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
#product-page .product-left .swiper-slide {
  background-size: cover;
  background-position: center;
}
#product-page .product-left .mySwiper2 {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}
#product-page .product-left .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
#product-page .product-left .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}
#product-page .product-left .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
#product-page .product-left .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#product-page .product-left .swiper-button-next:after, #product-page .product-left .swiper-button-prev:after {
  font-size: 27px;
}
#product-page .product-description .product-description-content {
  -webkit-line-clamp: 6;
  display: -webkit-box;
  max-height: 144px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#product-page .product-description .product-description-content.active {
  display: block;
  max-height: initial;
}
#product-page .product-description p {
  color: #333;
  font-size: 15px;
  line-height: 20px;
}
#product-page .product-price {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #333;
  margin-bottom: 0;
}
#product-page .product-sidebar-2, #product-page .product-sidebar-1 {
  border: 1px solid #eaebf2;
  max-width: 300px;
  background: #f6f7fa;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}
#product-page .product-warning {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#product-page .product-warning img {
  margin-right: 8px;
  width: 25px;
}
#product-page .product-warning span {
  color: #8d94ad;
  font-size: 15px;
  line-height: 17px;
  width: 240px;
  display: inline-block;
}
#product-page .product-owner-info {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
#product-page .product-owner-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #7750a1;
  margin-right: 8px;
}
#product-page .product-owner-icon img {
  width: 30px;
  height: 30px;
}
#product-page .product-owner-phone {
  display: flex;
  align-items: center;
}
#product-page .product-owner-phone a {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #333;
  display: block;
}
#product-page .product-owner-phone a:not(:last-child) {
  margin-bottom: 8px;
}
#product-page .product-owner-phone a:hover {
  color: #7750a1;
}
#product-page .product-owner-phone img {
  width: 20px;
  margin-right: 8px;
}
#product-page .product-owner-name {
  display: flex;
  flex-direction: column;
}
#product-page .product-owner-name span:first-child {
  font-size: 20px;
  line-height: 18px;
  font-weight: 500;
  color: #333;
}
#product-page .product-owner-name span:last-child {
  color: #8d94ad;
  font-size: 16px;
}
#product-page hr {
  opacity: 0.6;
  margin-top: 15px;
  margin-bottom: 15px;
}
#product-page .product-top {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: white;
  z-index: 10000;
  position: sticky;
  top: 0;
}
#product-page .product-top h4 {
  margin-bottom: 0;
}
#product-page .product-extras span {
  background-color: #f6f7fa;
  border: 1px solid #f6f7fa;
  color: #333;
  font-size: 14px;
  height: 40px;
  display: inline-block;
  line-height: 39px;
  padding: 0 10px;
  border-radius: 7px;
  margin-right: 12px;
  margin-bottom: 15px;
}
#product-page .product-services {
  display: flex;
  justify-content: space-between;
}
#product-page .product-services .product-services-info {
  cursor: pointer;
  width: 49%;
  display: flex;
  background-color: #f6f7fa;
  border: 1px solid #eaebf2;
  border-radius: 8px;
  padding: 10px 8px;
  justify-content: center;
  align-items: center;
}
#product-page .product-services .product-services-info > div {
  display: flex;
  flex-direction: column;
}
#product-page .product-services span {
  font-size: 13px;
  line-height: 16px;
}
#product-page .product-services span:first-child {
  color: #333;
  font-weight: 700;
  margin-bottom: 2px;
}
#product-page .product-services span:last-child {
  color: #6987c1;
}
#product-page .product-services img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 7px;
}
#product-page .product-section {
  display: flex;
  flex-wrap: wrap;
}
#product-page .product-sidebar-2 .product-owner-info img {
  width: 60px;
  margin-right: 8px;
}
#product-page .product-sidebar-2 .product-owner-name span {
  color: #333;
  font-size: 20px;
}
#product-page .product-sidebar-2 .button {
  width: 100%;
  display: inline-block;
  text-align: center;
}
#product-page .product-sidebar-2 .product-owner-description {
  display: -webkit-box;
  max-height: 50.4px;
  font-size: 14px;
  line-height: 1.2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  color: #8d94ad;
}
#product-page .product-sidebar-2 .product-shop-count {
  color: #333;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
}
#product-page .product-sidebar-2 .product-shop-count:hover {
  color: #7750a1;
}
#product-page .rentacar-catalog-time {
  margin-bottom: 15px;
}
#product-page .rentacar-catalog-time img {
  filter: none;
  margin-right: -2px;
  margin-left: -4px;
}
#product-page .rentacar-catalog-time span {
  color: #333;
}
#product-page .rentacar-catalog-location {
  color: #333;
}
#product-page .rentacar-catalog-location img {
  margin-right: 2px;
  width: 14px;
}
#product-page .rentacar-catalog-location:hover {
  color: #7750a1;
}
#product-page .product-right {
  position: sticky;
  top: 70px;
  height: -moz-min-content;
  height: min-content;
}
#product-page .wish-list-icon {
  color: #333;
  font-size: 15px;
  font-weight: 400;
}
#product-page .wish-list-icon:hover {
  color: #7750a1;
}
#product-page .fancybox {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 12;
}
#product-page .product-statistics {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#product-page .product-statistics span {
  color: #333;
  font-size: 14px;
}
#product-page .product-actions {
  display: flex;
  justify-content: space-between;
}
#product-page .product-actions button, #product-page .product-actions span {
  font-size: 14px;
  color: #333;
}
#product-page .product-actions button {
  background: transparent;
}
#product-page .product-actions button:hover {
  color: #7750a1;
}
#product-page .product-actions button:first-child {
  margin-right: 20px;
}
#product-page .product-description-btn {
  display: inline-block;
  color: #7750a1;
  text-decoration: underline;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}

.related-products {
  padding-top: 40px;
}
.related-products .title {
  font-size: 16px;
  color: #212c3a;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

#new-product {
  padding-top: 0;
}
#new-product .form-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
#new-product .form-container .form-group:not(:nth-child(3n+0)) {
  margin-right: 20px;
}
#new-product .form-group {
  width: 31%;
  margin-bottom: 20px;
}
#new-product .form-group:not(:nth-child(3n+0)) {
  margin-right: 20px;
}
#new-product label {
  font-size: 14px;
}
#new-product .nice-select:after {
  height: 8px;
  width: 8px;
}
#new-product .nice-select .list {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
#new-product input {
  padding-left: 18px;
}
#new-product .checkmark {
  height: 15px;
  width: 15px;
  border: 1px solid #979797;
  border-radius: 3px;
  display: inline-block;
  margin-right: 0px;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
}
#new-product .checkmark:before {
  content: "";
  position: absolute;
  opacity: 0;
  left: 3px;
  top: 1px;
  width: 7px;
  height: 9px;
  border: solid #7750a1;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
#new-product input:checked ~ .checkmark:before {
  opacity: 1;
}
#new-product .form-group-checkbox {
  margin-top: 20px;
}
#new-product .form-group-checkbox label {
  font-size: 16px;
  width: 33%;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
}
#new-product .form-group-checkbox input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
#new-product .form-group-checkbox p {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
}
#new-product .form-group-textarea {
  margin-top: 20px;
}
#new-product .form-group-textarea label {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
}
#new-product .form-group-textarea textarea {
  width: 100%;
  resize: none;
  min-height: 150px;
}
#new-product .form-group-price {
  width: 70%;
}
#new-product .form-group-price input {
  max-width: 300px;
  width: 100%;
  margin-right: 15px;
}
#new-product .form-group-contact {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
#new-product .form-group-contact .form-group:not(:nth-child(3n+1)) {
  margin-right: 20px;
}
#new-product .form-group-contact p {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
}
#new-product .form-group-images {
  margin-top: 30px;
}
#new-product .form-group-images .product-images {
  display: flex;
  flex-wrap: wrap;
}
#new-product .form-group-images p {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
}
#new-product .form-group-images .product-img-card {
  width: 150px;
  height: 150px;
  margin-right: 15px;
  margin-bottom: 40px;
}
#new-product .form-group-images .product-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#new-product .form-group-images .remove-img {
  width: 15px;
  cursor: pointer;
  margin-left: auto;
}
#new-product .form-group-images .rotate-left {
  width: 15px;
  margin-right: 5px;
  cursor: pointer;
}
#new-product .form-group-images .rotate-right {
  width: 15px;
  transform: scaleX(-1);
  cursor: pointer;
}
#new-product .form-group-images .product-img-actions {
  display: flex;
  width: 100%;
  margin-top: 3px;
}
#new-product .form-group-images .form-group-image label {
  position: relative;
  width: 130px;
  height: 130px;
  border: 1px dashed #7750a1;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 15px;
}
#new-product .form-group-images .form-group-image label input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#new-product .form-group-images .form-group-image label img {
  width: 100%;
  cursor: pointer;
}
#new-product .multiple-image-label {
  background: #E7DDFA;
  position: relative;
}
#new-product .multiple-image-label img {
  width: 65px !important;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
#new-product .form-group-btn {
  max-width: 300px;
  width: 100%;
}
#new-product .form-group-btn .button {
  width: 100%;
}

.form-group-radio {
  display: inline;
}
.form-group-radio .radio-checkmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  border-radius: 50%;
  border: 1px solid #979797;
  margin-right: 0px;
  cursor: pointer;
  margin-right: 7px;
}
.form-group-radio .radio-checkmark:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background: #7750a1;
  opacity: 0;
}
.form-group-radio input:checked ~ .radio-checkmark:before {
  opacity: 1;
}
.form-group-radio input[type=radio] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.form-group-radio label {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}

.wish-list {
  height: calc(100vh - 210px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wish-list p {
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 20px;
}
.wish-list img {
  width: 150px;
}

#cabinet {
  padding-top: 0;
}

.cabinet-menu {
  display: flex;
  list-style: none;
  padding: 15px 0;
  border: 1px solid #e2e1e1;
}
.cabinet-menu a {
  color: #333;
}
.cabinet-menu a:hover {
  color: #7750a1;
}
.cabinet-menu li {
  padding-left: 25px;
}

.cabinet-edit {
  padding-top: 30px;
  max-width: 450px;
  margin: auto;
}
.cabinet-edit h2 {
  font-size: 21px;
  text-align: center;
  margin-bottom: 28px;
}
.cabinet-edit .button {
  margin-top: 30px;
}
.cabinet-edit .delete-btn {
  background: transparent;
  border: none;
  color: #333;
  font-size: 14px;
  padding-top: 10px;
}

.cabinet-elan #tab-1 {
  display: block;
}

.cabinet #tab-1 {
  display: block;
}
.cabinet h3 {
  font-size: 17px;
  color: #333;
  margin-bottom: 5px;
}
.cabinet .nav-tabs {
  margin-top: 10px;
}
.cabinet .profile-statistics-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.cabinet .profile-statistics {
  width: 32%;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  background: #7750a1;
}
.cabinet .profile-statistics:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url("../images/wallet.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
  background-position: top;
}
.cabinet .profile-statistics:nth-child(2) {
  background: #6f64b0;
}
.cabinet .profile-statistics:nth-child(3) {
  background: #6987c1;
}
.cabinet .profile-statistics-count {
  font-size: 24px;
  color: white;
  margin-bottom: 0;
}
.cabinet .profile-statistics-title {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
}
.cabinet .profile-statistics-link {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
  justify-content: space-between;
}
.cabinet .profile-statistics-info {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.cabinet .button {
  background: white;
  color: #7750a1;
  min-width: 80px;
}
.cabinet .table {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);
  border: 1px solid #f4f6f7;
  border-radius: 7px;
}
.cabinet .table thead th {
  border: none;
}
.cabinet .table table {
  width: 100%;
}
.cabinet .table td {
  font-size: 17px;
  font-weight: 500;
  line-height: 38px;
  border-top: 1px solid rgba(222, 226, 230, 0.7019607843);
}
.cabinet .table td img {
  width: 20px;
  margin-top: -6px;
  margin-right: 3px;
}
.cabinet .table td button {
  background: transparent;
  color: #7750a1;
  font-size: 17px;
  font-weight: 500;
}
.cabinet .table a {
  color: #7750a1;
}

.nav-tabs {
  margin-top: 50px;
}
.nav-tabs li {
  padding-left: 25px;
  padding-bottom: 5px;
}
.nav-tabs a {
  color: #333;
}
.nav-tabs a:hover {
  color: #6987c1;
}
.nav-tabs .active {
  color: #6987c1;
  font-weight: 500;
}

.tab-pane {
  padding-top: 20px;
}
.tab-pane .tab-pane-empty {
  font-size: 15px;
  color: #333;
  padding-left: 25px;
}

@media only screen and (min-width: 1440px) {
  body .container {
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 20px;
  }
}/*# sourceMappingURL=main.css.map */